{% extends 'tela_home.html' %}

{% block conteudo %}
<link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='tela_produtos.css') }}">
    <div id="container">

        <main id="content">
            <div id="header">
                <div>
                    <h1>Gestão de Estoque</h1>
                </div>

                <input type="text" placeholder="Buscar...">

            </div>

            <table>
                <thead>
                    <tr>
                        <th id="table_titulo">Estoque de Produtos</th>
                        <th id="table_titulo"></th>
                        <th id="table_titulo"></th>
                        <th id="table_titulo"></th>
                        <th id="table_titulo"></th>
                        <th id="table_titulo"></th>

                    </tr>
                    <tr>
                        <th>Nome</th>
                        <th>Status</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                        <th>Validade</th>
                        <th>Categoria</th>
                    </tr>
                </thead>

                <tbody>

                    <tr>
                        <td>Dipirona</td>
                        <td class="em_estoque">Em estoque</td>
                        <td>250</td>
                        <td>R$10,00</td>
                        <td><span class="data">07/12/2026</span></td>
                        <td>Analgésico</td>
                    </tr>

                    <tr>
                        <td>Paracetamol</td>
                        <td class="alerta">Alerta</td>
                        <td>20</td>
                        <td>R$15,00</td>
                        <td><span class="data">19/01/2027</span></td>
                        <td>Analgésico</td>
                    </tr>

                    <tr>
                        <td>Tilenol</td>
                        <td class="fora_estoque">Fora de Estoque</td>
                        <td>0</td>
                        <td>R$16,00</td>
                        <td><span class="data">01/05/2027</span></td>
                        <td>Analgésico</td>
                    </tr>

                    <tr>
                        <td>Ibuprofeno</td>
                        <td class="em_estoque">Em estoque</td>
                        <td>500</td>
                        <td>R$13,00</td>
                        <td><span class="data">13/06/2027</span></td>
                        <td>Anti-inflamatório</td>
                    </tr>

                    <tr>
                        <td>Rivotril</td>
                        <td class="alerta">Alerta</td>
                        <td>15</td>
                        <td>R$20,00</td>
                        <td><span class="data">02/02/2027</span></td>
                        <td>Calmante</td>
                    </tr>
                </tbody>
            </table>
        </main>
    </div>

{% endblock %}