<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>PRODUTOS</h1>
    <a href="{{ url_for('tela_home') }}">Início</a>
    
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Quantidade</th>
            <th>Estoque mínimo</th>
            <th>Preço venda</th>
            <th>Ações</th>
        </tr>
    
        {% for produto in produtos %}
        <tr>
            <td>{{ produto.id }}</td>
            <td>{{ produto.nome }}</td>
            <td>{{ produto.categoria }}</td>
            <td>{{ produto.quantidade_estoque }}</td>
            <td>{{ produto.estoque_minimo }}</td>
            <td>R$ {{ '%.2f'|format(produto.preco_venda) }}</td>
            <td class="acoes">
                <a href="{{ url_for('editar_produto', id=produto.id) }}">Editar</a>
                <a href="{{ url_for('excluir_produto', id=produto.id) }}">Excluir</a>
                <a href="{{ url_for('novo_pedido', tipo='entrada', id=produto.id) }}">Solicitar Entrada</a>
                <a href="{{ url_for('tela_cadastro_pedidos', tipo='saida', produto_id=produto.id) }}">Solicitar Saída</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>