{% extends 'tela_home.html' %}

{% block conteudo %}
    <title>Histórico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='tela_entrada.css') }}">


<div class="container">

    <!-- Conteúdo -->
    <main class="content">
        <div class="header">
            <div>
                <h1>Histórico</h1>
                <p>Entrada</p>
            </div>
            <input type="text" placeholder="Buscar...">
        </div>

        <table>
            <thead>
                <tr>
                    <th>Movimentação</th>
                    <th>Fornecedor</th>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Valor Total</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                {% for item in entradas %}

                <tr>
                    <td class="entrada">Entrada</td>
                    <td>{{ item.nome_fornecedor}}</td>
                    <td>{{ item.nome }}</td>
                    <td>{{ item.quantidade }}</td>
                    <td>R$ {{ item.valor_total }}</td>
                    <td><span class="data">{{ item.data_pedido }}</span></td>
                </tr>
               
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </main>
</div>

{% endblock %}