<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | MEDSTOCK</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">    
    <link rel="stylesheet" href="{{ url_for('static', filename='tela_home.css') }}">
</head>
<body>
    <header>
        <h1>Sistema de Gestão de Estoque</h1>
        <nav>
            <a href="{{ url_for('tela_home') }}">Início</a>
            <a href="{{ url_for('tela_cadastro_produto') }}">Novo Produto</a>
            <a href="{{ url_for('tela_entrada') }}">Pedido</a>
            <a href="{{ url_for('tela_produtos') }}">Produtos</a>

        </nav>
    </header>

    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class="mensagem {{ category }}">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block conteudo %}{% endblock %}
</body>
</html>