/* NAVBAR */

.navbar{
    background: linear-gradient(90deg,#002D81 0%, #00819F 50%, #00C4C0 100%);
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    z-index: 1000;

    display: flex;
    align-items: center;
}

/* BOTÃO MENU */

.btn-menu{
    background: transparent;
    border: none;
    color: white;
    font-size: 30px;
    margin-left: 20px;
    cursor: pointer;
}

/* HOVER LINKS */

.navbar ul li a:hover {
   color: #00C4C0;
}

.icones :hover {
    color: #00C4C0;
}

/* ÍCONES */

.icones{
    margin-right: 20px;
}

.icones i{
    margin-right: 20px;
}

/* MENU SUPERIOR */

.menu{
   display: flex;
   gap: 30px;
   list-style: none;
   margin-left: -920px;
}

/* LINKS */

.navbar a{
    color: white;
    text-decoration: none;
    position: sticky;
}

/* LOGO */

#h1-logo{
    color: white;
    font-size: 18px;
    margin-top: 10px;
}

.logo img{
    width: 40px;
    margin: 5px;
}

.logo{
    display:flex;
    position: sticky;
}

/* SIDEBAR */

.sidebar {
    height: 100vh;
    width: 250px;

    background: linear-gradient(90deg,#002D81 0%, #00819F 50%, #00C4C0 100%);

    position: fixed;
    top: 0;
    left: 0;

    color: white;

    padding-top: 60px;

    transition: 0.4s;
    overflow: hidden;
}

/* SIDEBAR FECHADA */

.sidebar.close{
    width: 80px;
}

/* LISTA */

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    gap: 15px;

    padding: 15px 25px;

    color: white;
    text-decoration: none;

    transition: 0.3s;
}

/* HOVER SIDEBAR */

.sidebar ul li a:hover {
    background-color:#00819F;
}

/* ÍCONES SIDEBAR */

.sidebar ul li a i{
    font-size: 22px;
    min-width: 25px;
}

/* ESCONDER TEXTO */

.sidebar.close span{
    display: none;
}

/* CONTEÚDO */

.conteudo{
    margin-left: 250px;
    padding: 80px 20px;
    transition: 0.4s;
}

/* CONTEÚDO EXPANDIDO */

.conteudo.expand{
    margin-left: 80px;
}

/* BODY */

body{
    padding-top: 0px;
    overflow-x: hidden;
}

/* TEXTO */

.bemvindo{
    color:linear-gradient(90deg,#002D81 0%, #00819F 50%, #00C4C0 100%);
}