* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
}

.container {
    display: flex;
}

/* Conteúdo */
.content {
    flex: 1;
    padding: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    color: #2c5d8a;
}

.header p {
    color: #6c757d;
}

.header input {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 200px;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

thead {
    background: #1aa3a3;
    color: white;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.entrada {
    color: green;
    font-weight: bold;
}

.saida {
    color: red;
    font-weight: bold;
}

.data {
    background: #e9ecef;
    padding: 5px 10px;
    border-radius: 10px;
}